.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.inactive {
  text-decoration: none;
}

.modal-body {
  overflow:auto;
  background:transparent;
  border: none;
}

.modal-content {
  background-color: transparent;
}